.contact-info {
    .content-wrapper {
        margin-bottom: 2rem;
        background: var(--white);
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);

        i {
            font-size: 3rem;
            color: var(--light-primary);
        }

        p {
            margin-bottom: 0;
        }

        h5 {
            color: var(--gray);

            a {
                display: block;
            }
        }
    }

    iframe {
        width: 100%;
        height: 350px;
        box-shadow: var(--box-shadow);
    }
}