.international {
  .international-card {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 992px) {
  .international {
    .international-card {
      padding: 1rem 4rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .international {
    .international-card {
      padding: 1rem 6rem;
    }
  }
}