.page-title {
    position: relative;
    text-align: center;
    background-image: url('./assets/images/page-title.jpg');
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .gray-overlay {
        padding: 6.5rem 0 .5rem;

        .heading {
            font-size: 1.5rem;
            color: var(--white);
            margin-bottom: 1rem;
        }

        .breadcrumbs {
            display: none;
            color: var(--yellow);

            i {
                font-size: .8rem;
            }

            a {
                color: var(--yellow) !important;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .page-title {
        .gray-overlay {
            padding: 8rem 0 2.5rem;

            .heading {
                font-size: 2.5rem;
            }

            .breadcrumbs {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .4rem;
            }
        }
    }
}