.quick-links {
    position: fixed;
    bottom: 2.5rem;
    right: .5rem;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .wapp-link {
        transition: var(--main-transition);

        small {
            display: block;
        }

        .icon-wrapper {
            position: relative;
            height: 4rem;
            width: 4rem;
            font-size: 2rem;
            background-color: var(--light-whatsapp);
            color: var(--white);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .active-circle {
                width: 10px;
                height: 10px;
                background-color: var(--danger);
                position: absolute;
                z-index: 1;
                border-radius: 50%;
                right: 4px;
                top: 4px;
                display: block;
            }

            .aditional {
                position: absolute;
                right: 5rem;
                bottom: 0;
                font-size: 1rem;
                width: 250px;
                background: var(--dark-whatsapp);
                border-radius: var(--border-radius);
                transform: scale(0);
                transform-origin: center right;
                transition: var(--main-transition);

                &::after {
                    content: " ";
                    width: 0;
                    height: 0;
                    border-top: 0.5rem solid transparent;
                    border-bottom: 0.5rem solid transparent;
                    border-left: 0.5rem solid var(--dark-whatsapp);
                    position: absolute;
                    right: -0.5rem;
                    top: 50%;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;

                    .text-wrapper {
                        display: block;
                    }
                }

                .text-wrapper {
                    color: var(--white);
                    display: none;

                    h5 {
                        color: var(--white);
                    }
                }
            }
        }
    }

    .acg-link {
        .img-wrapper {
            overflow: hidden;
            height: 65px;
            width: 65px;
            border-radius: 50%;

            img {
                width: 100%;
                height: auto;
            }
        }

        transition: var(--main-transition);

        &:hover,
        &:active {
            transform: scale(1.05);
        }
    }
}

@media screen and (min-width: 992px) {
    .quick-links {
        .wapp-link {
            border-radius: var(--border-radius);

            &:hover,
            &:active {
                .icon-wrapper {
                    background-color: var(--light-whatsapp);
                }
            }

            .icon-wrapper {
                transition: var(--main-transition);

                &:hover,
                &:active {
                    background-color: var(--dark-whatsapp);

                    .aditional {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}